<div class="container">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" routerLink="/">
			<img [src]="logo" width="40" height="40" class="d-inline-block align-top" alt="">
    Manager Motel
  </a>
	</nav>
				<router-outlet></router-outlet>
        <footer m-2 class="bg-dark">
		<p class="m-0 p-2 text-center text-white"> MinhDTPH08474</p>
</footer>
			</div>

