<div class="container">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<a class="navbar-brand" routerLink="/">
			<img src="https://cafefcdn.com/2019/9/2/photo-1-156742533547351635837.png" width="980" height="600" class="d-inline-block align-top" alt=""><br>
    Manager Motel
  </a>

				<router-outlet></router-outlet>
        <footer m-2 class="bg-dark">
		<p class="m-0 p-2 text-center text-white"> MinhDTPH08474</p>
</footer>
			</div>

