<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container">

	<div align="center" style="margin-bottom:30px;">
		<h2>Student Form</h2>
	</div>

	<form [formGroup]="studentForm">

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Student name:</span>
			</div>
			<input type="text" formControlName="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			<div *ngIf="name.invalid && (name.touched || name.derty)">
				<p *ngIf="name.errors.required" class="text-denger"> hay dien ho va ten</p>
				<p *ngIf="name.errors.minlength" class="text-denger"> ho va ten it nhat 4 ky tu</p>
			</div>
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">Motel name:</span>
			</div>
			<input disabled type="text"  class="form-control" aria-label="Sizing example input" [value]="motelData.name" aria-describedby="inputGroup-sizing-default">
      </div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Roll number:</span>
				</div>
				<input type="text" formControlName="roll_number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				<div *ngIf="roll_number.invalid && (roll_number.touched || roll_number.derty)">
					<p *ngIf="roll_number.errors.required" class="text-denger"> hay dien </p>

				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Student image :</span>
				</div>
				<input type="text" formControlName="avatar" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				<div *ngIf="avatar.invalid && (avatar.touched || avatar.derty)">
					<p *ngIf="avatar.errors.required" class="text-denger"> nhap dia chi anh</p>
					<p *ngIf="avatar.errors.pattern" class="text-denger"> dia chi anh khong phu hop</p>
				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Address</span>
				</div>
				<input type="text" formControlName="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				<div *ngIf="address.invalid && (address.touched || address.derty)">
					<p *ngIf="address.errors.required" class="text-denger"> nhap dia chi </p>
					<p *ngIf="address.errors.minlength" class="text-denger"> dia chi it nhat 7 ky tu</p>
				</div>
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">Room No:</span>
				</div>
				<input type="text" formControlName="room_no" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				<div *ngIf="room_no.invalid && (room_no.touched || room_no.derty)">
					<p *ngIf="room_no.errors.required" class="text-denger"> hay nhap </p>
				</div>
			</div>
			<div align="center">
				<button disabled="studentForm.invalid" type="button" (click)="saveStudent();" class="btn btn-info">Save</button>
			</div>

	</form>
</div>